

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FormEmployee {
  width: 700px;
  margin: 0 auto;
  text-align: left;
 }
 
 .FormEmployee h1 {
  text-align: center;
 }
 
 .FormEmployee .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 5px 5px 10px;
 }
 
 .FormEmployee .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 20px;
  text-align: right;
 }
 
 .FormEmployee .form-data input:not([type="submit"]) {
  flex-grow: 1;
 }

 textarea
 {
   width: 550px;
   height: 200px;
 }
